*{
    background-image: url("infobackground.jpg");
}
body{
    text-align: center;
    
}
h1{
    background: transparent;
}
h4{
    background: transparent;
}
h1, h2 {
    color: #FFD700; 
}

h4, p {
    color: #F0F8FF; 
}
