#navbar{
    height: 60px;
    background-color: navajowhite;
    border: 2px solid  rgb(208, 133, 20);
    border-radius: 20px;
    padding: 20px 200px 20px 200px;
}
button{
    background-color: #f08804;
}


a{
    margin: 200px 50px ;
    text-decoration: none;
    font-size: 20px;
}